<fieldset>
    <legend>Lista de Inmuebles</legend>
    <table>
        <thead>
            <tr>
            <th>
                Nombre
            </th>
            <th>
                ID
            </th>
            <th>
                
            </th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>

                </td>
                <td>

                </td>
                <td>
                    
                </td>
            </tr>
        </tbody>
    </table>
</fieldset>
