<br />
<a routerLink="/parametros/Crear-Seccion" class="btn btn-success">Agregar Seccion</a>

<fieldset>
    <legend>Listado de Secciones</legend>
    <table>
        <thead>
            <tr>
                <th>
                    id
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Descripcion
                 </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of listasSeccion ">
                <td>
                    {{r.id}}
                </td>
                <td>
                    {{r.nombre}}
                </td>
                <td>
                    {{r.descripcion}}
                </td>
                <td>
                    <a routerLink="/parametros/Editar-Seccion/{{r.id}}" class="btn btn-warning orange">Editar</a>&nbsp;
                    <a routerLink="/parametros/Eliminar-Seccion/{{r.id}}" class="btn btn-warning red">Eliminar</a>
                </td>
        </tbody>
    </table>
</fieldset>
