<div id="user_uploadFile" class="col-12">
    <input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)"
        accept=".csv" />
    <table class="minimalistBlack" *ngIf="records.length > 0">
        <thead>
            <tr>
                <th>nroDocument </th>
                <th>primerNombre </th>
                <th>segundoNombre </th>
                <th>primerApellido </th>
                <th>segundoApellido </th>
                <th>email </th>
                <th>celular </th>
                <th>rolId </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let record of records;let i = index;">
                <td> <span>{{record.nroDocument}}</span> </td>
                <td> <span>{{record.primerNombre}}</span> </td>
                <td> <span>{{record.segundoNombre}}</span> </td>
                <td> <span>{{record.primerApellido}}</span> </td>
                <td> <span>{{record.segundoApellido}}</span> </td>
                <td> <span>{{record.email}}</span> </td>
                <td> <span>{{record.celular}}</span> </td>
                <td> <span>{{record.rolId}}</span> </td>
            </tr>
        </tbody>
    </table>

    <input type="button" id="user_uploadFileBtn" class="btn" value="Guardar Usuarios" *ngIf="records.length > 0">

</div>