<footer class="page-footer Ablue">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text text-center">APH - UCaldas</h5>
        <p class="grey-text text-lighten-4">
          Sistema de gestión y administración para manejo de propiedades horizontales
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Estudiantes</h5>
        <ul class="text-center">
          <li>
            <a class="grey-text text-lighten-3" target="_blank" href="https://github.com/AlejoFlorez0">
              Alejandro González Flórez
            </a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" target="_blank" href="https://github.com/jdgv7">
              José David González Villa</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" target="_blank" href="https://github.com/Samira1306">
              Sandra Milena Ramos Melchor</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" target="_blank" href="https://github.com/El-Juns">
              Juan Diego Hernández Gómez
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      ©2022 Universidad de Caldas
      <a class="grey-text text-lighten-4 right" href="https://github.com/AlejoFlorez0/UcaldasProg3_aph">Repositorio</a>
    </div>
  </div>
</footer>